 *{
    margin: 0;
    padding: 0;
    text-align: center;
     
 }
 h1{
    color: green;
    background-color: lightyellow;
    padding: 10px;
    border-radius: 10px;
 }
 .choice{
    height: 120px;
    width: 120px;
    text-align: center;  
      
 }
    .choice:hover{
    opacity: 0.5;
    cursor: pointer;
 }
   img{
         height: 100px;
         width: 100px;
   }
  
.choices{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;   
}
.score-board{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 50px;
    font-size: 20px;
}
#user-score, #com-score{
   
    font-size: 4rem;
}
#result{
    background-color: rgb(227, 138, 227);
    display: inline-block;   
    margin: 50px auto;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 24px;
}

 #restart {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: green;
    color: white;
    cursor: pointer;
}

#restart:hover {
    opacity: 0.8;
}
.result-container {
  display: flex;
  flex-direction: column;    
  align-items: center;
  gap: 15px;                
}


  